

@import "color.less";
@import "geometry.less";
@import "type.less";

.article-scroller{
	img{
		width: 100%;
	}

	h1,
	h2,
	p{
		a:link,
		a:visited {
			color: #ceff00;
		}
	}

	header{
		margin-bottom: 20px;

		.resp-link{
			margin-bottom: 10px;
			display: inline-block;
		}
	}

	h2,
	p{
		margin-bottom: 10px;
	}
}

.media-list{
	a{
		width: 40px;
		height: 40px;
		opacity: .25;
		background: #fff;
		display: block;
		transition: opacity .3s linear;

		&:hover{
			opacity: .7;
		}
	}
}

.post-tags{
	opacity: .5;

	li{
		margin: 0 5px 5px 0;
		font-size: 14px;

		a:before{
			content: '#';
		}
	}
}

@media screen and (min-width: 641px){
	.media-list{
		margin-right: -@margin;

		li{
			margin: @margin @margin 0 0;
		}
	}
}

@media screen and (max-width: 640px){
	.media-list{
		margin-right: -@margin-phone;

		li{
			margin: @margin-phone @margin-phone 0 0;
		}
	}
}

.article-content {
	li{
		list-style: inside disc;
		padding-left: 2rem;
	}
}
