@import "color.less";
@import "geometry.less";
@import "type.less";

h1, h2, h3, h4,
nav, address, output,
h5, p, li, label, dl, input, textarea, td, th,
:link, :visited, :hover, a{
	color: #fff;
	font-family: @sans-serif;
	font-style: normal;
}
h1, b{
	font-weight: 700;
}
//h1, h2, h3, h4, h5, b, p, li{
//	letter-spacing: -.02em;
//}
.mac{
	h1, h2, h3, h4,
	nav, address, output,
	h5, p, li, label, dl, input, textarea, td, th,
	.text, .text a,
	.text-small,
	.text-body,
	.text-1,
	.text-2,
	.text-3,
	.text-4{
		font-family: @sans-serif;
	}
}

h1{
	font-size: 36px;
}
h2{
	font-size: 28px;
}

.resp-link{
	&:before{
		font-size: .8em;
		width: 1em;
		text-align: left;
	}
	&:hover{
		color: #ceff00;
	}
}
p,
li{
	font-size: 20px;
}
.resp-link,
p,
li{
	font-weight: 400;
	line-height: 1.3em;
}

.text-small{
	font-size: 12px;
}

.text-error{
	color: @error !important;
}
.text-warning{
	color: @warning !important;
}
.text-valid{
	color: @valid !important;
}
.text-confirm{
	color: @accent !important;
}
.trunkate{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
}
.left-trunkate{
	direction: rtl;
	text-align: left;
}
:link{
	text-decoration: none;
}

@media screen and (max-width: 1024px){	
	.resp-link,
	.posts-scroller-holder li,
	.tags-scroller-holder li{
		font-size: 28px;
	}
}
.tags-scroller-holder li{
	text-transform: capitalize;
}
